:root {
	--serif-font: cursive, serif;
	--sans-font:
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans", "Noto Color Emoji", "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	--bitmap-font:
		Monaco, Tahoma, ui-monospace, SFMono-Regular, Menlo, Consolas,
		"Liberation Mono", "Courier New", monospace;
	--mono-font:
		"Berkeley Mono", "JetBrains Mono", "Fira Code", San Francisco Mono,
		Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono",
		"Bitstream Vera Sans Mono", monospace;
	--body-max-width: 640px;
}

html {
	place-items: center;

	scrollbar-gutter: stable;
	/* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page */
	padding-left: calc(100vw - 100%);

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	font-family: var(--sans-font);
	/*400 16px / 1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
}

body {
	font-feature-settings:
		"kern" 1,
		"liga" 1,
		"calt" 1;
	text-rendering: optimizeLegibility;
	font-weight: 450;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	min-width: var(--body-max-width);
	max-width: var(--body-max-width);
	width: fit-content;
	border: 3px double black;
	box-shadow: 2px 2px;
	padding: 5px;
}
body.portfolio,
body.maps {
	max-width: initial;
	position: relative;
}
#weatherBox,
div.maps {
	text-align: center;
}
@media only screen and (max-width: 700px) {
	html {
		scrollbar-gutter: unset;
		padding-left: unset;
	}
	body {
		width: initial;
		min-width: unset;
		margin: 0;
	}
}
.bw {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

aside {
	/*border: 3px black double;*/
	max-width: 30em;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 1em;
	background: ivory;
}
aside.thaer {
	max-width: 600px;
	box-shadow: 0px 0px 0px 1px;
}
aside:not(.thaer, .coldsteel) {
	box-shadow: 1px 1px;
	border: 1px solid black;
}
p:first-of-type {
	margin-top: 0;
}
p:last-of-type {
	margin-bottom: 0;
}
span.center {
	display: block;
	text-align: center;
}
p.center,
h3.center,
h4.center,
pre.center,
div.center {
	text-align: center;
}

h2.initial {
	display: initial;
}
blockquote {
	white-space: pre-wrap;
}
body.home > main > div.reneefrench {
	text-align: center;
}
blockquote:not(body.home blockquote) {
	font-style: italic;
}
object {
	margin-block: 1em;
}
header.images a {
	border-bottom: none;
}
p {
	line-height: 1.6;
	/*text-wrap: pretty;*/
}
img.circle {
	border-radius: 50%;
}
img.max-width-200 {
	max-width: 200px;
}
img.max-width-400 {
	max-width: 400px;
}
img.max-width {
	max-width: 800px;
}
img.portfolio,
iframe.portfolio {
	display: block;
}
img.margin,
iframe.margin {
	margin-top: 5px;
	margin-bottom: 5px;
}
span.text-sc {
	font-variant-caps: small-caps;
	font-size: small;
}
span.gray {
	color: #999;
}
pre {
	white-space: pre-wrap;
}

input {
	background-color: white;
}

pre,
header .text a,
input {
	font-size: 10px;
}

/* Non-Retina */
@media (-webkit-max-device-pixel-ratio: 1.99), (max-resolution: 191dpi),
	(max-resolution: 1.99dppx) {
	header .text,
	pre,
	input {
		font-family: var(--bitmap-font);
		font-smooth: never;
		-webkit-font-smoothing: none;
		-moz-osx-font-smoothing: grayscale;
	}
}

/* Retina and other high-DPI screens */
@media (-webkit-min-device-pixel-ratio: 2) /* Safari, old Chrome */,
	(min--moz-device-pixel-ratio: 2) /* Firefox (deprecated) */,
	(-o-min-device-pixel-ratio: 2 / 1) /* Old Opera */,
	(min-device-pixel-ratio: 2) /* Standard */,
	(min-resolution: 192dpi) /* Standard DPI unit */, (min-resolution: 2dppx) {
	/* Modern, preferred */
	header .text span,
	pre {
		font-family:
			ui-monospace, Menlo, Monaco, Consolas, SFMono-Regular,
			"Liberation Mono", "Courier New", monospace;
	}
}
p.left {
	text-align: left;
}
pre.right {
	text-align: right;
	margin: 0;
	margin-right: 5px;
}
q {
	font-style: italic;
}
header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
/*header a::before, div.text a::before {
	content: attr(title);
	font-weight: bold;
	overflow: hidden;
	visibility: hidden;
	height: 0;
	display: block;
}*/
div.header {
	padding-top: 5px;
}
div.header hr {
	margin: 5px 0;
}
header.images {
	margin-block: 10px;
	margin-left: auto;
	margin-right: auto;
}
header.center {
	display: flex;
	justify-content: center;
	align-items: baseline;
}
header .info {
	display: flex;
	align-items: flex-start;
}
div.byline {
	font-weight: 500;
	width: fit-content;
}
div.byline span.text-sc {
	font-family: var(--serif-font);
	font-size: initial;
	font-weight: 600;
}
div.byline span.text-lighter {
	color: #a3a3a3;
}
/*
header .text, pre.right {
	image-rendering: pixelated;
	font-smooth: never;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: grayscale;
	font-family: Tahoma;
	font-size: 8pt;
	font-family: Times;
	font-size: 9pt;
}*/

header hr {
	margin: 5px 0;
}
header .text {
	display: flex;
	gap: 10px;
	align-items: flex-start;
	text-align: center;
}
div.flex-column,
header .text .highlighted {
	display: flex;
	flex-direction: column;
}
header .text .highlighted a {
	border-bottom: none;
}
header .text .highlighted span {
	line-height: 50%;
	font-size: 22px;
	cursor: default;
}
header .text a {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	align-items: center;
	gap: 2px;
}

a {
	text-decoration: none;
	color: #222;
}
a:not(header a, .writing a, .reneefrench a) {
	text-decoration-color: rgba(119, 119, 119, 0.25);
	/*border-bottom: 1px solid rgba(119, 119, 119, 0.25);*/
}
a:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-color: rgba(119, 119, 119, 0.7);
	/*border-bottom: 1px solid rgba(119, 119, 119, 0.7);*/
}
/*header a:hover, header.images a:hover, header span:hover, */
details[id] > summary:hover {
	background-color: #eee;
	border-bottom: none;
}
/*header a:active, header.images a:active, header span:active, */
details[id] > summary:active {
	background-color: #e8e8e8;
	border-bottom: none;
}
header.images a:hover,
details[id] > summary:hover {
	background-color: #eee;
}
header.images a:active,
details[id] > summary:active {
	background-color: #e8e8e8;
}
a:visited {
	color: #333;
}

img.center,
object.center,
iframe.center,
video.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.half {
	width: 50%;
}
img.quarter {
	width: 25%;
}
img.xsmall {
	width: 15%;
}
img.london {
	margin-bottom: -3px;
}
hr,
img.crisp,
img[src$=".gif"],
summary,
ul,
li {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges; /* Firefox (deprecated) */
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: -webkit-optimize-contrast; /* Chrome */
	image-rendering: pixelated; /* Chrome */
	image-rendering: optimize-contrast; /* CSS3 Proposed */
	-ms-interpolation-mode: nearest-neighbor; /* IE8+ */
	image-rendering: crisp-edges; /* Firefox */
}
div.catclock {
	position: relative;
	float: right;
}
div.catclock > img.minutes {
	backface-visibility: hidden;
	position: absolute;
	right: 70px;
	top: 123px;
	transform: rotate(0deg);
	transform-origin: 50% 86%;
	transform-style: flat;
}
div.catclock > img.hours {
	backface-visibility: hidden;
	position: absolute;
	right: 70px;
	top: 135px;
	transform: rotate(0deg);
	transform-origin: 50% 78%;
	transform-style: flat;
}
div.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
}
img.absolute {
	position: absolute;
}
img.logo {
	height: 109px;
}
div.toc {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}
ul#toc {
	padding-inline-start: initial;
	flex-grow: 1;
}

ul {
	padding-inline-start: 0;
}

ul#toc ul {
	padding-inline-start: 30px;
}

ul#toc li:has(> details) > details > summary:hover {
	cursor: pointer;
}

ul#toc li:has(> details) {
	/*list-style-type: disclosure-closed;*/
	list-style: none;
}

ul#toc li:has(> details[open]) {
	/*list-style-type: disclosure-open;*/
	list-style: none;
}

ul#toc details > summary {
	/*	list-style: inside url("img/bullets/shadow_right.gif");*/
	background: url("img/bullets/shadow_right.gif") no-repeat left top;
	list-style: none;
	padding-left: 23px;
}

ul#toc details[open] > summary {
	/*	list-style: inside url("img/bullets/shadow_right_down.gif");*/
	background: url("img/bullets/shadow_right_down.gif") no-repeat left top;
}

ul#toc details > summary:active {
	/*	list-style: inside url("img/bullets/shadow_right_pressed.gif");*/
	background: url("img/bullets/shadow_right_pressed.gif") no-repeat left top;
}

ul#toc details[open] > summary:active {
	/*	list-style: inside url("img/bullets/shadow_right_down_pressed.gif");*/
	background: url("img/bullets/shadow_right_down_pressed.gif") no-repeat left
		top;
}

ul#toc li details > summary:first-of-type,
ul#toc li details[open] > summary:first-of-type {
	list-style-type: none;
}

li p {
	margin: 0;
}

ul li:not(:has(> details)) {
	list-style: none;
	padding-left: 23px;
}
ul > li:not(:has(> details)) {
	/*list-style: inside url("img/bullets/bullet-closed.gif");*/
	background: url("img/bullets/bullet-closed.gif") no-repeat left top;
}
ul > li:not(:has(> details)):has(p) {
	/*list-style: inside url("img/bullets/bullet-closed.gif");*/
	background: url("img/bullets/bullet-closed-p.gif") no-repeat left top;
}
ul ul > li:not(:has(> details)) {
	/*list-style: inside url("img/bullets/bullet.gif");*/
	background: url("img/bullets/bullet.gif") no-repeat left top;
}
ul ul > li:not(:has(> details)):has(p) {
	/*list-style: inside url("img/bullets/bullet.gif");*/
	background: url("img/bullets/bullet-p.gif") no-repeat left top;
}
ul ul ul > li:not(:has(> details)) {
	/*list-style: inside url("img/bullets/bullet-open.gif");*/
	background: url("img/bullets/bullet-open.gif") no-repeat left top;
}
ul ul ul > li:not(:has(> details)):has(p) {
	/*list-style: inside url("img/bullets/bullet-open.gif");*/
	background: url("img/bullets/bullet-open-p.gif") no-repeat left top;
}

img#toggle {
	cursor: pointer;
}

details[id] > summary {
	display: flex;
	flex-direction: column;
	list-style: inside url("img/bullets/shadow_lg_left.gif");
	/*padding-top: 5px;*/
}
/*main > details:not(:first-of-type) {
	padding-top: 5px;
}*/

details[id] > summary > .summary {
	background-image: url("img/bullets/shadow_lg_left.gif");
	background-repeat: no-repeat;
	background-position: right center;
}

details[id] > summary > .summary > span {
	padding-right: 41px;
}

details[id] > summary > hr {
	display: none;
}

details[id][open] > summary > hr {
	display: initial;
	margin: 0;
	margin-top: 5px;
}

details[id] > summary > .summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	min-height: 36px;
}

details[id] > summary:active {
	list-style: inside url("img/bullets/shadow_lg_left_pressed.gif");
}

details[id] > summary:active > .summary {
	background-image: url("img/bullets/shadow_lg_left_pressed.gif");
}

/*safari*/
details > summary::-webkit-details-marker {
	display: none;
}

details[id] > summary {
	position: sticky;
	top: 0;
	background-color: white;
	/* when embedding a youtube iframe, we need to override Chrome's
	video::-internal-media-controls-loading-panel { z-index: 1; }
	in order for the sticky background to take precedence over the video controls*/
	z-index: 1;
}

details[id] > summary > .summary {
	margin: 5px 0;
}
details[id][open] > summary {
	list-style: inside url("img/bullets/shadow_lg_left_down.gif");
}
details[id][open] > summary > .summary {
	background-image: url("img/bullets/shadow_lg_left_down.gif");
}

details[id][open] > summary:active {
	list-style: inside url("img/bullets/shadow_lg_left_down_pressed.gif");
}
details[id][open] > summary:active > .summary {
	background-image: url("img/bullets/shadow_lg_left_down_pressed.gif");
}

details[id] > summary h2 {
	margin: 0;
}

ul {
	margin: 0;
}
li {
	margin-top: 5px;
}
li details {
	margin: 2px 0;
}
#toc > li:first-of-type {
	margin-top: 0;
}
summary:hover {
	cursor: pointer;
}
div.details-date {
	display: flex;
	align-items: baseline;
	gap: 5px;
	justify-content: space-between;
}

hr {
	background-image: url("img/hr.gif");
	border: 0px;
	display: block;
	height: 4px;
	margin: 10px 0;
}
hr.thin {
	height: 2px;
}
hr.smaller {
	width: 75%;
}
hr.center {
	margin-left: auto;
	margin-right: auto;
}

select,
textarea,
input[type="text"],
input[type="date"],
input[type="button"],
input[type="submit"],
button {
	border: 1px double black;
	margin-bottom: 3px;
	box-shadow: 1px 1px 0px 0px black;
}

input[type="button"]:active,
input[type="submit"]:active,
button:active {
	box-shadow: none;
	margin-left: 2px;
	margin-top: 4px;
	margin-bottom: 1px;
}

table {
	width: 100%;
}

table > tbody > tr > td:first-child {
	width: 75%;
}

tr {
	display: flex;
	justify-content: space-between;
}

img#weave,
img#pin,
img#gem {
	cursor: pointer;
}
img#weave:active {
	content: url("img/flourishes/end_weave_pressed.gif");
}
img#pin:active {
	content: url("img/pin-pressed.gif");
}
img#gem:active {
	content: url("img/flourishes/gem_decor_large.xbm.gif");
}

footer {
	text-align: center;
}
footer > pre {
	text-align: left;
}
